{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    {% if type == 'createUser' %}
        <h2>{{ title }}</h2>
        <div class="row addForm">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" type="text" class="validate">
                        <label for="username">Nom d'utilisateur</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Mot de passe</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
            </form>
        </div>
    {% elseif type == 'createArticle' %}
        <h2>{{ title }}</h2>
        <div class="row addForm">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" type="text" class="validate">
                        <label for="name">Titre</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="content" type="text" class="validate">
                        <label for="content">Contenu</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="author" type="text" class="validate">
                        <label for="author">Auteur</label>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}